

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
    color:white;
    font-family: 'Cinzel', serif;
}

main {
    width: 60%;
    height: 90%;
    display: flex;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 
#gameStart-button1, #gameStart-button2, #play-again-button{
    position: absolute;
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px; 
    font-size: 24px;
    border: 1px solid white;
    /* border: 1px solid white; */
    background: linear-gradient(
        -45de,
    ); 
    background-size: 400%;  
    background-image: linear-gradient( 110.1deg,  rgba(34,126,34,1) 2.9%, rgba(168,251,60,1) 90.3% );
    animation: animate 5s infinite;
    cursor: pointer; 
}

@keyframes animate{
    0% {
        background-position: 0%;        
    }
    50% {
        background-position: 100%;        
    }
    100% {
        background-position: 0%;        
    }
}

.result{
    font-size: 32px;
    margin-bottom: 100px;
}

.winner{
    font-size: 32px;
    margin-bottom: 100px;
}

#Div2 {
  display: none;
}

.tooltip  
{  
    display: inline;  
    position: relative;  
    text-decoration: none;  
    top: 0px;  
    left: 4px;  
}  
.tooltip:hover:after  
{  
    background: #333;  
    background: rgba(0,0,0,.8);  
    border-radius: 5px;  
    top: -5px;  
    color: #fff;  
    content: attr(alt);  
    left: 160px;  
    padding: 5px 15px;  
    position: absolute;  
    z-index: 98;  
    width: 150px;  
}  
.tooltip:hover:before  
{  
    border: solid;  
    border-color: transparent black;  
    border-width: 6px 6px 6px 0;  
    bottom: 20px;  
    content: "";  
    left: 155px;  
    position: absolute;  
    z-index: 99;  
    top: 3px;  
} 


/* Delete this line bellow */
/* 
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0; */
  
    /* Position the tooltip */
    /* position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
} */



