*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* this set the body for the gamePage */
body{
    position: relative;
    background: black;
    overflow: hidden;
    font-family: 'Cinzel',serif;
}

/* this as it says contains elements of the game - mother */
.canvas-container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* this as it says contains p elements of canvas (the container, the mother) */
.canvas-container p{ 
    font-size: 30px;
    font-weight: 600;
    color: rgb(122, 195, 126);
    min-width: 40px;
    text-align: center;
}

 /* This set the child of mother, the wrapper/border */
.wrapper {  
    border: 4px solid rgb(15, 80, 8);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px #91c2eb;
}

/* Mother and child relationship, the setting displays left player score  */
.canvas-container p:first-child  {
    margin-right: 60px;
}

/* Mother and child relationship, the setting displays right player score  */
.canvas-container p:last-child{
    margin-left: 60px;
}




